/* Font Sizes Ref */
/* 
h1  17.942rem
h2 	11.089rem
h3 	6.854rem
h4 	4.236rem
h5 	2.618rem
h6 	1.618rem
p 	1rem
s   0.618rem
vs  0.382rem 
*/

:root {
	scrollbar-color: #d4b044 #f7cb46 !important;
	scrollbar-width: thin !important;
	margin: 0;

	--page-margin: 0 12vw 0 12vw;
	--navbar-margin: 0 4vw 0 4vw;

	--fs-l: 4.00rem;
	--fs-s: 1.00rem;

	--border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
	:root {
		--fs-xl: 1.25rem;
		--fs-l: 1rem;
		--fs-m: 0.75rem;
		--fs-s: 0.5rem;
	}
}

@font-face {
	font-family: arco;
	src: url(fonts/ARCO.otf);
}


body {
	/* margin: 4rem 8rem 4rem 8rem; */
	margin: 0 8vw;
	font-family: "Recursive", sans-serif;
	background-color: #ffe14b;
	font-size: 16px;
}

h2 {
	font-weight: 900;
}

hr {
	border: 0;
	border-bottom: 1px dashed black;

}

.sinhala {
	font-family: "Noto Sans Sinhala", sans-serif;
	font-optical-sizing: auto;
	/* font-weight: <weight>; */
	font-style: italic;
	font-size: 0.9em;
	font-variation-settings:
		"wdth" 100;
}

.nav-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 4rem;
	z-index: 100;
}

.nav-icon-container {
	display: inline-flex;
	justify-content: center;
	width: 3rem;

}

.nav-item-icon {
	height: 0.8em;
	padding-left: 0.2em;
}

.nav-item {
	position: relative;
	font-size: var(--fs-s);
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 16px 0 0;
	text-decoration: none;
	color: black;
	transition: color 0.3s ease;
}

.nav-item::after {
	content: '';
	position: absolute;
	left: 2rem;
	/* Match padding */
	right: 2rem;
	/* Match padding */
	bottom: -0.01rem;
	/* Adjust based on your preference */
	height: 2px;
	background-color: black;
	border-radius: var(--border-radius);
	transform: scaleX(0);

	transition: transform 0.3s ease;
	/* box-shadow: 0px 2px #ff8000; */
}

.nav-item:hover::after,
.selected-nav-item::after {
	transform: scaleX(1);
	box-shadow: 0px 1px #ff8000;
}

.selected-nav-item {
	text-shadow: 0px 1px #ff8000;
}

.hero {
	height: 75vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.hero-content {
	/* width: 75%; */
}

.hero-header {
	font-size: 2rem;
}

.hero-subtitle {
	font-size: 1rem;
}